.view-toggle__inner{
    position: absolute;
    z-index: 1001;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}
.mantine-SegmentedControl-control[data-active="true"] {
    background-color: rgb(34, 139, 230);
}

.mantine-SegmentedControl-control[data-active="true"] .mantine-SegmentedControl-innerLabel {
    color: #fff;
}