.header-wrapper {
  box-shadow: -1px 0 10px #42445a4d;
  position: relative;
  z-index: 1002;
}

.app-body-wrapper {
  height: calc(100vh - 77px);
}

.header-wrapper .logo-wrapper {
  text-align: left;
}

.header-wrapper .logo-wrapper img {
  max-width: 70px;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: var(--mantine-spacing-md);
  padding-right: var(--mantine-spacing-md);
  text-decoration: none;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  font-weight: 500;
  font-size: var(--mantine-font-size-sm);
}

.mobile-nav-links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.mobile-nav-links a {
  color: inherit;
  text-decoration: none;
  font-weight: 500;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation-desktop {
  display: flex;
  gap: 0.5rem;
}

.header__language {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.header__burger {
  display: none;
}

@media (max-width: 600px) {
  .header-inner {
    height: 50px;
  }

  .header-wrapper .logo-wrapper img {
    max-width: 60px;
  }

  .link {
    font-size: var(--mantine-font-size-xs);
  }

  .header__language {
    margin-left: 0;
  }

  .header__burger {
    display: block;
    margin-left: 0.5rem;
  }

  .navigation-desktop {
    display: none;
  }
}
