.form-inner {
   padding: 2rem;
}

.slider-wrapper {
    padding-right: 2px;
    position: relative;
    padding-bottom:22px;
    margin-bottom: 20px;
}

.text-custom {
    margin-top: 0;
}

.form-element {
    margin-bottom: 20px;
}