.match-list {
    display: flex;
    flex-direction: column;
}

.match-list.match-list--matches .match-list__listing {
    max-height: 95vh;

}

.match-list__buttons {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.match-list h3 {
    padding: 0 20px;
}

.match-list__listing {
    padding: 20px;
    overflow-y: scroll;
    max-height: calc(95vh - 76px);
    border-top: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
}

.match-list p {
    margin: 0 0 15px 0;
}

.match-card__headline {
    border-right: 1px solid #d2d2d2;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    flex: 0 1 45%
}

.match-card__stadium {
    flex: 0 1 55%;
}

.match-card__team {
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    
}
.match-card__team p {
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 14px;
    text-align: left;
}

.vs-mark {
    flex: 0 1 6%;
}

.match-card__headline img {
    display: block;
    max-width: 25px;
}

.match-card__headline .img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match-card__competition {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.match-card__competition img {
    max-width: 40px;
    max-height: 40px;
    width: auto;
}

.match-card {
    margin: 15px 0;
    padding: 10px 10px 10px 3px;
    box-shadow: -1px 0px 10px 0px rgba(66, 68, 90, 0.3);
    border-radius: 3px;
    transition:linear .3s;
    display: flex;
}

.match-card .mantine-Checkbox-root {
    padding: 7px;
    margin-right: 5px !important;
}
.match-card__checkbox {
    display: flex;
    align-items: center;
}
.match-card:hover {
    box-shadow: -1px 0px 10px 0px rgba(66, 68, 90, 0.9);
}

.match-card__stadium p {
    text-align: center;
    margin-bottom: 5px;
    font-size: 14px;
}
.match-card__date {
    font-weight: 600;
}
.page-inner--mobile .match-list {
    margin-top: 50px;
}
.match-list h3 > span {
    margin-left: 15px;
}

.match-list__date-aggregator {
    margin: 0;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}